.layout {
	display: flex;
	gap: 24px;
}

@media (width <= 1010px) {
	.layout {
		flex-direction: column;
	}
}

.invisibleDownloadLink {
	display: none;
}

.boxDrawing {
	background-color: #fff;
	width: 100%;
}
