.main {
	text-align: left;
}

.stack {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.twoColumn {
	display: grid;
	grid-template-columns: max-content 1fr;
	align-content: start;
	gap: 12px;
	column-gap: 1em;
}

.doubleTopGap {
	margin-top: 24px;
}
